[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-irblack"]
	path = vim/bundle/vim-irblack
	url = https://github.com/wgibbs/vim-irblack.git
