# Example project-specific screenrc
#
# Usage:
# 1. Copy to ~/projects/<project>/.screenrc
# 2. Modify with project-specific windows
# 3. Create project-specific session with `s <project>`
#
# Reference:
# See ~/.dotfiles/bash/config for s function definition

source $HOME/.dotfiles/screen/before

screen -t log 2 tail -f log/development.log
screen -t database 3 rails dbconsole
screen -t console 4 rails console
screen -t server 5 bash
  exec thin start -p 3000
screen -t TODO 9 vim -p $HOME/projects/NOTES $HOME/projects/TODO $HOME/projects/DONE

source $HOME/.dotfiles/screen/after
